// ! colors
$mainClearColor: rgba(255, 255, 255, 0.66);
$darkAlphaColor: rgba(0, 0, 0, 0.422);
$brownCardColor: rgb(106, 51, 11);
$noColor: transparent;

//* Box-model value
$boxmodelSingleValue: 20px;

//? Animation
$timeSlow: 1s;
$timeMedium: 0.5s;
$timeFast: 0.35s;
